{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>{% block title %}{% endblock title %}</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="{% static 'vendors/mdi/css/materialdesignicons.min.css' %}?{% now "jS F Y H:i" %}">
  <link rel="stylesheet" href="{% static 'vendors/base/vendor.bundle.base.css' %}?{% now "jS F Y H:i" %}">
  <!-- endinject -->
  <!-- plugin css for this page -->
  <link rel="stylesheet" href="{% static 'vendors/datatables.net-bs4/dataTables.bootstrap4.css' %}?{% now "jS F Y H:i" %}">
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="{% static 'css/style.css' %}?{% now "jS F Y H:i" %}">
  <!-- endinject -->
  <link rel="shortcut icon" href="{% static 'images/favicon.png' %}?{% now "jS F Y H:i" %}" />
</head>
<body>
  {% include 'top_navbar.html' %}
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
      <!-- partial:partials/_sidebar.html -->
      {% include 'side_linkbar.html' %}
      {% block content %}
      {% endblock content %}
      {% include 'footer.html' %}
      <!-- partial -->
    </div>
    <!-- main-panel ends -->
  </div>
  <!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->

<!-- plugins:js -->
<script src="{% static 'vendors/base/vendor.bundle.base.js' %}?{% now "jS F Y H:i" %}"></script>
<!-- endinject -->
<!-- Plugin js for this page-->
<script src="{% static 'vendors/chart.js/Chart.min.js' %}?{% now "jS F Y H:i" %}"></script>
<script src="{% static 'vendors/datatables.net/jquery.dataTables.js' %}?{% now "jS F Y H:i" %}"></script>
<script src="{% static 'vendors/datatables.net-bs4/dataTables.bootstrap4.js' %}?{% now "jS F Y H:i" %}"></script>
<!-- End plugin js for this page-->
<!-- inject:js -->
<script src="{% static 'js/off-canvas.js' %}?{% now "jS F Y H:i" %}"></script>
<script src="{% static 'js/hoverable-collapse.js' %}?{% now "jS F Y H:i" %}"></script>
<script src="{% static 'js/template.js' %}?{% now "jS F Y H:i" %}"></script>
<!-- endinject -->
<!-- Custom js for this page-->
<script src="{% static 'js/dashboard.js' %}?{% now "jS F Y H:i" %}"></script>
<script src="{% static 'js/data-table.js' %}?{% now "jS F Y H:i" %}"></script>
<script src="{% static 'js/jquery.dataTables.js' %}?{% now "jS F Y H:i" %}"></script>
<script src="{% static 'js/dataTables.bootstrap4.js' %}?{% now "jS F Y H:i" %}"></script>
<!-- End custom js for this page-->
</body>
</html>
